<!DOCTYPE html>
<html>
<head>
    <title>FitQuest Game</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

<div class="container">

    <h1 class="title">⚔️ FitQuest</h1>

    <div class="card">

        <h2 id="rank">LEVEL 1 — RECRUIT</h2>

        <p>XP: <span id="xp">0</span></p>

        <div class="progress-bar">
            <div class="progress" id="progress"></div>
        </div>

        <p>HP: <span id="hp">100</span></p>
        <p>Gold: <span id="gold">0</span></p>

    </div>

    <div class="quest-card">

        <h3>Daily Quest</h3>

        <p>
        Complete 20 Pushups
        </p>

    </div>

    <div class="buttons">

        <button onclick="completeWorkout()">
        START QUEST
        </button>

        <button onclick="extraWorkout()">
        EXTRA TRAINING
        </button>

        <button onclick="missedDay()">
        REST DAY
        </button>

    </div>

</div>

<script src="/static/script.js"></script>

</body>
</html>