<!DOCTYPE html>
<html>
<head>

<title>FitQuest</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="/static/style.css">

<script src="https://cdn.jsdelivr.net/npm/@mediapipe/pose/pose.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@mediapipe/camera_utils/camera_utils.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@mediapipe/drawing_utils/drawing_utils.js"></script>

</head>

<body>

<div class="container">

<!-- LOADING -->

<div id="loading-screen">

<h1 class="title">⚔️ FitQuest</h1>
<p>Loading...</p>

</div>



<!-- LOGIN -->

<div id="login-screen" style="display:none;">

<h1 class="title">⚔️ FitQuest</h1>

<input
type="text"
id="username"
placeholder="Enter your name">

<br><br>

<button onclick="goToAvatar()">
START GAME
</button>

</div>



<!-- AVATAR -->

<div id="avatar-screen" style="display:none;">

<h2>Choose Your Avatar</h2>

<div class="avatar-grid">

<img src="/static/avatars/avatar1.png"
class="avatar-option"
onclick="selectAvatar(this)">

<img src="/static/avatars/avatar2.png"
class="avatar-option"
onclick="selectAvatar(this)">

<img src="/static/avatars/avatar3.png"
class="avatar-option"
onclick="selectAvatar(this)">

</div>

<br>

<button onclick="goToLevels()">
START PLAYING
</button>

</div>



<!-- LEVEL MAP -->

<div id="level-screen" style="display:none;">

<h2>Choose Level</h2>

<div id="level-grid"></div>

</div>



<!-- GAME -->

<div id="game-screen" style="display:none;">

<img id="avatar" width="120">

<h1 class="title">⚔️ FitQuest</h1>

<h2 id="welcome"></h2>

<div class="card">

<h2 id="rank">
LEVEL 1 — RECRUIT
</h2>

<p>XP: <span id="xp">0</span></p>

<p>HP: <span id="hp">100</span></p>

<p>Gold: <span id="gold">0</span></p>

</div>



<div class="quest-card">

<h3>Daily Quest</h3>

<div class="exercise">

<p>Complete 20 Pushups</p>

<button onclick="startExercise(0)">
START VIDEO
</button>

<span id="done0"></span>

</div>

<br>

<div class="exercise">

<p>Complete 20 Squats</p>

<button onclick="startSquatAI()">
START VIDEO
</button>

<h3 id="squatCounter">
Squats: 0
</h3>

<span id="done1"></span>

</div>
<br>

<div class="exercise">

<p>Complete 30 Jumping Jacks</p>

<button onclick="startExercise(2)">
START VIDEO
</button>

<span id="done2"></span>

</div>

<br><br>

<video
id="video"
width="300"
autoplay>
</video>

<br><br>

<button
id="completeBtn"
onclick="completeLevel()"
disabled>

COMPLETE LEVEL

</button>

</div>

</div>



<!-- REWARD -->

<div id="reward-screen" style="display:none;">

<h1 class="title">
LEVEL COMPLETE
</h1>

<p>XP: <span id="rewardXP"></span></p>
<p>HP: <span id="rewardHP"></span></p>
<p>Gold: <span id="rewardGold"></span></p>

<br>

<h2>Mystery Shop</h2>

<button onclick="buyItem('Sword',50)">
Buy Sword - 50 Gold
</button>

<br>

<button onclick="buyItem('Shield',30)">
Buy Shield - 30 Gold
</button>

<br>

<button onclick="buyItem('Potion',20)">
Buy Potion - 20 Gold
</button>

<br><br>

<button onclick="backToLevels()">
BACK TO LEVEL MAP
</button>

</div>

</div>

<script src="/static/script.js"></script>

</body>
</html>